# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/life-accessories?retryWrites=true&w=majority
MONGODB_DATABASE=life-accessories


CLOUDINARY_URL=cloudinary://965454598642153:sBHcPAnq0A_gNiKoJGQYQppyz5c@dw5mtxcbt
CLOUDINARY_CLOUD_NAME=dw5mtxcbt
CLOUDINARY_API_KEY=965454598642153
CLOUDINARY_API_SECRET=sBHcPAnq0A_gNiKoJGQYQppyz5c

# Next.js Configuration
NEXTAUTH_URL=https://life-accessories.vercel.app
NEXTAUTH_SECRET=nuYWxuH0yU2c0AVUJZqUQcilvWsJvOtWwNVoFj+pfy0=

# Email Notifications (Resend) - Required
RESEND_API_KEY=re_cHB6x1Jm_KsmnUjfnbNxMdKueu6H93jvN
ADMIN_EMAIL=lifeaccessoriesly@gmail.com

# SMS Notifications (Twilio) - Optional
# Set SMS_NOTIFICATIONS_ENABLED=true to enable SMS notifications
SMS_NOTIFICATIONS_ENABLED=false
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890
ADMIN_PHONE=+218912345678

# Admin Panel Security
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_password_here
ADMIN_SESSION_SECRET=your_admin_session_secret_here
